[package]
name = "numo_contracts"
version = "0.1.0"
edition = "2023_11"

# See more keys and their definitions at https://docs.swmansion.com/scarb/docs/reference/manifest.html

[dependencies]
starknet = "2.12.2"
alexandria_storage = "0.6.0"
alexandria_math = "0.6.0"
alexandria_data_structures = "0.6.0"
openzeppelin = "1.0.0"
openzeppelin_introspection = "1.0.0"

[dev-dependencies]
snforge_std = "0.50.0"
assert_macros = "2.12.2"

[[target.starknet-contract]]
sierra = true

[scripts]
test = "snforge test"

[tool.scarb]
allow-prebuilt-plugins = ["snforge_std"]

[[tool.snforge.fork]]
name = "mainnet_latest"
url = "$MAINNET_RPC_URL"
block_id.tag = "latest"


[[tool.snforge.fork]]
name = "mainnet_846087"
url = "$MAINNET_RPC_URL"
block_id.number = "846087"

[[tool.snforge.fork]]
name = "mainnet_630393"
url = "$MAINNET_RPC_URL"
block_id.number = "630393"

[[tool.snforge.fork]]
name = "mainnet_660943"
url = "$MAINNET_RPC_URL"
block_id.number = "660943"

[[tool.snforge.fork]]
name = "mainnet_661452"
url = "$MAINNET_RPC_URL"
block_id.number = "661452"

[[tool.snforge.fork]]
name = "mainnet_usdc_large"
url = "$MAINNET_RPC_URL"
block_id.number = "648429"

[[tool.snforge.fork]]
name = "mainnet_671812"
url = "$MAINNET_RPC_URL"
block_id.number = "671812"

[[tool.snforge.fork]]
name = "mainnet_1078313"
url = "$MAINNET_RPC_URL"
block_id.number = "1078313"

[[tool.snforge.fork]]
name = "mainnet_1025136"
url = "$MAINNET_RPC_URL"
block_id.number = "1025136"

[[tool.snforge.fork]]
name = "mainnet_971311"
url = "$MAINNET_RPC_URL"
block_id.number = "971311"

[[tool.snforge.fork]]
name = "mainnet_1134787"
url = "$MAINNET_RPC_URL"
block_id.number = "1134787"

[[tool.snforge.fork]]
name = "mainnet_1165999"
url = "$MAINNET_RPC_URL"
block_id.number = "1165999"

[[tool.snforge.fork]]
name = "mainnet_1256209"
url = "$MAINNET_RPC_URL"
block_id.number = "1256209"

[[tool.snforge.fork]]
name = "mainnet_1446151"
url = "$MAINNET_RPC_URL"
block_id.number = "1446151"

[[tool.snforge.fork]]
name = "mainnet_1531861"
url = "$MAINNET_RPC_URL"
block_id.number = "1531861"

[profile.dev.cairo]
unstable-add-statements-code-locations-debug-info = true
unstable-add-statements-functions-debug-info = true
inlining-strategy = "avoid"

# Visit https://foundry-rs.github.io/starknet-foundry/appendix/scarb-toml.html for more information

# [tool.snforge]                                             # Define `snforge` tool section
# exit_first = true                                          # Stop tests execution immediately upon the first failure
# fuzzer_runs = 1234                                         # Number of runs of the random fuzzer
# fuzzer_seed = 1111                                         # Seed for the random fuzzer

# [[tool.snforge.fork]]                                      # Used for fork testing
# name = "SOME_NAME"                                         # Fork name
# url = "http://your.rpc.url"                                # Url of the RPC provider
# block_id.tag = "latest"                                    # Block to fork from (block tag)

# [[tool.snforge.fork]]
# name = "SOME_SECOND_NAME"
# url = "http://your.second.rpc.url"                         
# block_id.number = "123"                                    # Block to fork from (block number)

# [[tool.snforge.fork]]
# name = "SOME_THIRD_NAME"
# url = "http://your.third.rpc.url"
# block_id.hash = "0x123"                                    # Block to fork from (block hash)

# [profile.dev.cairo]                                        # Configure Cairo compiler
# unstable-add-statements-code-locations-debug-info = true   # Should be used if you want to use coverage
# unstable-add-statements-functions-debug-info = true        # Should be used if you want to use coverage/profiler
# inlining-strategy = "avoid"                                # Should be used if you want to use coverage

# [features]                                                 # Used for conditional compilation
# enable_for_tests = []                                      # Feature name and list of other features that should be enabled with it